@import '~bootstrap/scss/bootstrap';

header {
    .navbar-brand {
        margin-right: 2rem;
    }

}

footer {
    background-color: black;
    color: white;

    li {
        list-style: none;
    }

    a {
        color: white;
    }
}

.nav-active {
    font-weight: bolder;
}

a {
    text-decoration: none;
}