@import '~bootstrap/scss/bootstrap';
@import 'variables';


/* Header */
header {
    border-top: 25px solid $color-primary;
    height: 115px;
    background-color: $color-light;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: bolder;

    .navbar-brand {
        margin-right: 2rem;
    }

    a {
        padding-bottom: 28px;
        color: $color-secondary;
    }

    .search {
        border-bottom: 2px solid $color-primary;
        color: $color-secondary;
        padding-bottom: 5px;
    }

    input {
        border: none;
        text-align: right;
    }
}

.jumbotron {
    height: 400px;
    width: 100%;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}

/* Main */
main {
    background-color: $color-dark;

    .content-title {
        background-color: $color-primary;
        color: $color-light;
        font-family: $font-primary;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 28px;
        padding: 15px 30px;
        width: fit-content;
        margin-top: -88px;
        margin-bottom: 30px;
    }

    p {
        color: $color-light;
    }
}

/* Footer */
footer {
    background-color: $color-dark;
    color: white;

    li {
        list-style: none;
    }

    a {
        color: white;
    }
}

.nav-active {
    border-bottom: 5px solid $color-primary;
}

a {
    text-decoration: none;
}